<div id="wrapper">
    <div class="jumbotron">
        <h1>ESPN Scraper</h1>
        <h3>View, save, and add notes for ESPN articles and headlines</h2>
            <form action="/scrape">
                <button id="scrapeBtn">Scrape new articles</button>
            </form>
            <form action="/savedArticles">
                <button id="savedArticles">View saved articles</button>
            </form>
    </div>
    <div id="articles"></div>
    <div id="notes"></div>
</div>