body {
    background: rgb(37, 36, 36);
}
.jumbotron {
    background-image: url("/assets/images/background.png");
    text-align: center;
    color: lightgray;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.article {
    background-color: rgb(178, 173, 189);
    border: 3px solid white;
    margin: 3%;
    padding: 3% 2% 8% 2%;
    text-align: center;
}

img {
    width: 85%;
    border: 1px solid white;

}

.btn-group {
    float: right;

}

.btn {
    border: 3px solid white;

}

.links {
    float: left;
}

#scrapeBtn {
    margin: 5%;
}

.card-header {
      font-size: 25px;
      background: rgb(66, 65, 65);
      color: white;
      border: 3px solid white;

}

.note-body {
    border: 2px solid black;
    margin: 1%;
}

.note-deleter {
    float: left;
}


@media only screen and (max-width: 600px) {
        .card-ender {
            padding-bottom: 5%;
        }
  
    }
